.sidebar{
    border-right: 1px solid var(--background);
    flex: 0.3;
    padding: 0 20px;
    margin-top: 20px;
    
    
}

.sidebar__twittericon{
    color: var(--twitter-color);
    font-size: 30px !important;
    margin: 0 0 20px 20px;
    cursor: pointer;
 
}

.sidebar__btn{
    background-color: var(--twitter-color) !important;
    color: white !important;
    border: none !important;
    font-weight: 900 !important;
    margin-top: 20px !important;
    text-transform: inherit !important;
    height: 50px !important;
    border-radius: 30px !important;

}