.tweetBox{
    padding-bottom: 10px;
    border-bottom: 8px solid var(--background);
    padding-right: 10px;
}

.tweetBox > form {
    display: flex;
    flex-direction: column;
    
}

.tweetBox__input {
    display: flex;
    padding: 20px;
}


.tweetBox__avatar{
    margin: 5px;
}

.tweetBox__avatar:hover{
    cursor: pointer;
}
.tweetBox__input >input{
   flex: 1;
   margin-left: 20px;
   font-size: 20px;
   border: none;
}

.tweetBox__icons{
    display: flex;
    align-items: center;
    margin-left: 80px;

}

.tweetBox__icons > .MuiSvgIcon-root{
    color: var(--twitter-color) ;
    padding: 10px;
    opacity: 0.7;
    
}

.tweetBox__btn{
    width: 80px !important;
    background-color: var(--twitter-color) !important;
    color: white !important;
    text-transform: inherit !important;
    font-weight: 900 !important;
    border: none !important;
    border-radius: 30px !important;
    margin-left: auto !important;
   

}

.tweetBox__icons > .MuiSvgIcon-root:hover{
    cursor: pointer;
    
}